# Database
POSTGRES_USER=airflow
POSTGRES_PASSWORD=airflow
POSTGRES_DB=airflow
POSTGRES_PORT=5432
POSTGRES_SERVER=postgres
POSTGRES_EXTERNAL_PORT=5432
POSTGRES_MAX_WAL_SIZE='3GB'
POSTGRES_DB_DRIVER=psycopg2

# Backend Host
REACT_APP_BACKEND_URL=http://localhost:8000

# Redis
REDIS_PORT=6379
REDIS_USER=yourredisuser
REDIS_PASSWORD=yourredispassword


# Zookeeper
ZOO_SERVER_USERS=admin
ZOO_SERVER_PASSWORDS=your_password

# Kafka
KAFKA_CLIENT_USER=your_kafka_user
KAFKA_CLIENT_PASSWORD=your_kafka_password

# Middleware Origins, change to actual urls in prod.
ALLOWED_ORIGINS=http://localhost:3000,http://localhost:3001,https://localhost:3000,https://localhost:3001

# Airflow
AIRFLOW_PROJ_DIR=./airflow
_AIRFLOW_WWW_USER_USERNAME=airflow
_AIRFLOW_WWW_USER_PASSWORD=airflow
AIRFLOW__WEBSERVER__BASE_URL=your-url.com
AIRFLOW__SMTP__SMTP_MAIL_FROM=youremail@example.com

AIRFLOW_GID=0
AIRFLOW_UID=1000
